{% extends "ecom/base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'image/bg_6.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0" style="color: rgb(255, 255, 255);">Change Password</h1>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">
                        {% element h1 %}
                            {% trans "Changed Password" %}
                        {% endelement %}
                    </h1>
                    <p class="text-center">{% trans 'Your password is now changed.' %}</p>
                    <div class="text-center mt-3">
                        <a href="{% url 'account_login' %}" class="btn btn-primary mr-2">{% trans "Sign In" %}</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary">{% trans "Sign Up" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
