{% extends "ecom/base.html" %}
{% load static %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'image/bg_6.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0" style="color: rgb(255, 255, 255);">Password Reset</h1>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-center">
                        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                    </p>
                    {% url 'account_reset_password' as reset_url %}
                    <form method="post" action="{{ reset_url }}" class="mt-3">
                        {% csrf_token %}
                        <div class="form-group text-center">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset My Password' %}</button>
                    </form>
                    <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    
                    <p class="text-center">
                        <a href="{% url 'account_email' %}" class="text-primary">{% trans 'Change Email Address' %}</a> | 
                        <a href="{% url 'account_confirm_email' confirmation.key as action_url %}" class="text-primary">{% trans 'Resend Email Confirmation' %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

