{% extends "ecom/base.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'image/bg_6.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0" style="color: rgb(255, 255, 255);">Sign Up Page</h1>
            </div>
        </div>
    </div>
</div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">{% trans "Sign Up" %}</h1>
                        <p class="text-center">
                            {% blocktrans %}
                            Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
                            {% endblocktrans %}
                        </p>
                        {% url 'account_signup' as action_url %}
                        <form method="post" action="{{ action_url }}" class="mt-3">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label for="id_username">{{ _('Username') }}</label>
                                        {{ form.username }}
                                    </div>
                                    <div class="col">
                                        <label for="id_email">{{ _('Email') }}</label><br>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label for="id_password1">{{ _('Password') }}</label>
                                        {{ form.password1 }}
                                    </div>
                                    <div class="col">
                                        <label for="id_password2">{{ _('Confirm Password') }}</label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
